<label for="">Nome da Escola</label>
<input type="text" class="form-control" (input)="updateSchoolName($event)">
<input type="text" class="form-control" [(ngModel)]="scholName">

<button
    class="btn btn-primary"
    [disabled]="!aceitaNovaEscola"
    (click)="createdSchool()">INCLUIR</button>

    <p *ngIf="schoolCreated; else noSchool"> A escola foi cirada: {{scholName}}</p>

<ng-template #noSchool>
   <p> Nenhuma escola cirada:</p>
</ng-template>


<p>{{scholName}}</p>
<p>{{aceitaNovaEscola}}</p>




<p [innerText] = "aceitaNovaEscola"></p>

<app-school></app-school>

<p  *ngFor="let school of schools; let i = index">{{i}} - {{school}}</p>
